<% content_for :navigation do %>
  <li>
    <%= link_to articles_path do %>
      <%= t('List_Articles') %>
    <% end %>
  </li>
<% end %>

<div class="page-header jumbotron">
  <h1>WNote
  <small>
    is 'Web Note'
  </small>
  </h1>
</div>
<p>
WNote is 'Web Note'.
If you want to post the note, you need to sign up before it.
Person who are not logged in to this site are called GUEST.
Guest can read notes only if their r_public is on.
Person who has logged in to this site are called USER.
User can write notes and sets their r_public/w_public switch.
</p>
<p>
Now, it's time to enter this site!!
</p>
<p class="text-center">
  <%= link_to t('Listing_Articles'), articles_path, class: "btn btn-primary btn-lg", role: "button" %>
</p>
<p>
<a href="http://getbootstrap.com/">Bootstrap</a>
 is the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web.
This site is designed with bootstrap.
</p>
<p>
<a href="http://glyphicons.com/license/">Glyphicons</a>
 is a library of precisely prepared monochromatic icons and symbols, created with an emphasis to simplicity and easy orientation.
You will find glyphincons in this site (in menubar and so on).
</p>
