<div class="page-header jumbotron">
  <h1>WNote
  <small>
    is 'Web Note'
  </small>
  </h1>
</div>
<p>
WNote is 'Web Note'.
If you want to post, you need to sign up.
No-login person who accesses to this site is called 'Guest'.
Guest can only read notes which is r_public on.
A log-in person who accesses to this site is called 'User'.
User can write notes and configure its r_public/w_public switch.
</p>
<p>
Now, it's time to enter !!
</p>
<p class="text-center">
  <%= link_to 'Listing Articles', articles_path, class: "btn btn-primary btn-lg", role: "button" %>
</p>
<p>
<a href="http://getbootstrap.com/">Bootstrap</a>
is the most popular HTML, CSS, and JS framework.
This site is also designed with bootstrap.
</p>
<p>
<a href="http://glyphicons.com/license/">Glyphicon</a>
is an icon and symbol.
You will find glyphincons in this site (in menubar and so on).
</p>

