<% content_for :navigation do %>
  <li>
    <%= link_to articles_path, class: "nav-link" do %>
      <%= t('List_Articles') %>
    <% end %>
  </li>
<% end %>

<div class="container-fluid" style="background-color:#eeeeee;">
  <h1 class="display-1 text-center pt-5 pb-5">WNote
  <small class="h2 text-secondary">
    is 'Web Note'
  </small>
  </h1>
</div>
<p>
WNoteは「Web Note」のことです。
ノートに投稿したい場合は、事前にサイン・アップをしてください。
ログインしていない人を「ゲスト」といます。
ゲストはr_publicがオンになっているアーティクルのみを読むことができます。
ログインした人を「ユーザ」といいます。
ユーザはメモを書いたり、r_publicまたはw_publicのスイッチをオン／オフに設定することができます。
</p>
<p>
では、WNoteを使ってみましょう。
</p>
<p class="text-center">
  <%= link_to t('Listing_Articles'), articles_path, class: "btn btn-primary btn-lg", role: "button" %>
</p>
<p>
<a href="http://getbootstrap.com/">Bootstrap</a>
は、最も人気のあるHTML, CSS, JavaScriptのフレームワークで、レスポンシブ・デザイン、モバイル対応のウェブ開発に活用できます。
このサイトのデザインもBootstrapを使って実現しています。
</p>
