<% content_for :navigation do %>
  <li>
    <%= link_to(@section) do %>
      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span><%= t('Section') %>
    <% end %>
  </li>
<% end %>

<h2><%= t('New_Note') %></h2>

<%= render 'form' %>

