<%= form_for @user, url: 'user/destroy', method: 'post' do |f| %>
  <h2>Authentication is needed.</h2>
  <p>You neeed to enter your password before deleting your account.</p>
  <div class="form-group">
    <%= f.label :password %><br>
    <%= f.password_field :password, options = {class: "form-control", placeholder: "password"} %>
  </div>
  <div class="form-group">
    <%= f.submit 'Submit', options={class: "btn btn-primary"} %>
  </div>
<% end %>
